<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="open_rviz" default="true"/>


  <include file="$(find ohmni_description)/launch/ohmni_remote.launch">

  </include>

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find ohmni_slam)/launch/ohmni_$(arg slam_methods).launch">

  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ohmni_slam)/rviz/turtlebot3_$(arg slam_methods).rviz"/>
  </group>
</launch>
